<div th:replace="fragments/head"></div>
<body>
    <div class="container">
     <div th:replace="fragments/navbar"></div>
        <h2>Welcome!</h2> 
        <form th:action="@{/login}" method="post"><br/>
            <input type="text" id="username" name="username" th:placeholder="Username" class="form-control"/> <br/>
            <input type="password" th:placeholder="Password" id="password" name="password" class="form-control"/> <br/>
            <div align="center" th:if="${param.error}">
     
            <div>
                Failed to login.
                <p>
                  Reason: <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION}" ></span>
                </p>
            </div>
       
                <h4 style="color: red">Login unsuccessful.</h4>
            </div>
            
             
            <button class="btn btn-md btn-success btn-block" name="Submit" value="Login" type="Submit">Log in</button>
             
        </form>      
        
        <form th:action="@{/signup}" method="get">
        <button class="btn btn-md btn-success btn-block">Sign Up</button> 
        </form>
    </div>
</body>
</html>